html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.quote__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.quote {
  margin: 50px auto 0 auto;
  padding: 2rem;
  font-size: 4vh;
  font-style: italic;
  text-align: right;
}

.quote__btn {
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 2vh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
